.App {
  background-color: #ffffff;
  text-align: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-fadeIn 0.5s;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: rgb(0, 0, 0);
}


.App-link {
  color: #fb6161;
}

@keyframes App-logo-fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
